@font-face {
  font-family: "EverythingFont";
  src: url("montserrat.ttf") format("truetype");
}

* {
  font-family: "EverythingFont", sans-serif;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  --table-border-color: #776a617e;
}

html {
  background: #fdf6e3 url("background.png");
  background-size: contain;
  background-repeat: repeat;
}

body {
  margin: 0;
  padding: 0;
}

.body {
  padding: 48px 48px 0 48px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
}

.ganesh {
  width: 60px;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
}

.dummy {
  visibility: hidden;
}

h1 {
  font-weight: 800;
  font-size: 3rem;
  margin: 0;
}

section.hero-section {
  background: url("hero.png");
  background-size: contain;
  background-position: center;
  width: 100%;
  align-items: center;
  height: 400px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h2 span {
  font-size: 1.4rem;
  line-height: 110%;
  margin-left: 0.25rem;
}

h2 {
  font-size: 4rem;
  line-height: 95%;
  margin: 0;
}

.lhs {
  max-width: 300px;
}

.lhs p {
  margin-left: 0.25rem;
}

.rhs {
  padding: 6rem 3rem;
  border: 2px solid rgba(0, 0, 0, 0.438);
  border-radius: 3rem;
  background-color: #e8d5c7b0;
  z-index: -1;
}

.rhs .first {
  font-size: 1rem;
  font-weight: 500;
}

.rhs .second {
  margin-top: 4px;
  font-size: 1.3rem;
  font-weight: 800;
}

.rhs span.small {
  font-size: 1rem;
  font-weight: 500;
}

.rhs span.city {
  font-size: 2.3rem;
}

.rhs p {
  margin: 0;
}

/* second section */

.charges-and-contacts {
  padding: 128px 0;
  min-height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.charges table {
  border-spacing: 0;
  border: 2px solid var(--table-border-color);
  border-radius: 0.7rem;
}

.charges table th {
  padding: 0.4rem 1.5rem;
  border-bottom: 2px solid var(--table-border-color);
}

.charges table td {
  padding: 1rem 1.75rem;
}

tbody tr:last-child td:first-child {
  border-bottom-left-radius: 0.7rem;
}

tbody tr:last-child td:last-child {
  border-bottom-right-radius: 0.7rem;
}

table tr:first-child th:first-child {
  border-top-left-radius: 0.7rem;
}

table tr:first-child th:last-child {
  border-top-right-radius: 0.7rem;
}

.charges img {
  width: 1.3rem;
  vertical-align: middle;
  height: 1.3rem;
}

.call-ahead {
  margin-top: 2rem;
  font-size: 14px;
}

.call-ahead p {
  margin: 0.4rem;
}

.contacts {
  background-color: #fff0e5b0;
  padding: 16px 24px;
  box-shadow: 1px 1px 20px 4px #f7eee8;
}

.contacts * {
  font-size: 14px;
}

.contacts ul {
  padding-left: 16px;
}

.contacts a {
  display: inline-block;
  margin-bottom: 8px;
  color: black;
}

.registered-address {
  font-size: 14px;
  margin-top: 32px;
}

.registered-address h3 {
  color: rgb(82, 81, 81);
  font-size: 13px;
  margin-bottom: 8px;
  width: max-content;
}

.registered-address pre {
  margin: 0;
  width: max-content;
  font-weight: normal;
  line-height: 130%;
}

/* footer */

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 16px;
  font-size: 13px;
  padding: 16px;
  font-weight: 500;
  color: white;
  background-color: #80502fb0;
}

footer p {
  margin: 0;
}

.img {
  display: none;
  width: 100%;
  margin: 24px 0;
}

.img-mobile {
  display: none;
}

/** tabs */

.tabbed-section {
  width: 250px;
  display: flex;
  flex-direction: column;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border-radius: 16px;
  width: max-content;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  background-color: #ffe7d6b0;
  font-weight: 600;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #da9665ad;
}

/* Create an active/current tablink class */
.tab button[none="false"] {
  background-color: #da9665ad;
  color: white;
}

/* Style the tab content */
.tabcontent {
  margin-top: 8px;
  display: none;
  font-size: 14px;
}

.tabcontent[none="false"] {
  display: block;
}

.tabcontent ul {
  padding-left: 24px;
}

.tabcontent li {
  margin-bottom: 8px;
}

section.driver {
  width: 100%;
  max-width: 800px;
  background-color: #ffe7d6b0;
  overflow: hidden;
  margin: 0 auto 64px auto;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 16px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 8px;
}

section.driver img {
  border-radius: 50%;
  width: 40px;
  aspect-ratio: 1 / 1;
  background-color: green;
}

@media screen and (max-width: 1200px) {
  :root {
    font-size: 15px;
  }
  section.hero-section {
    height: 300px;
  }
  .charges-and-contacts {
    flex-direction: column;
    width: max-content;
    margin: 0 auto;
    row-gap: 48px;
    padding: 48px;
  }
  .charges-and-contacts > * {
    width: min(max-content, 100%);
    margin: 0 auto;
  }
  .registered-address {
    width: min(max-content, 100%);
    margin: 32px auto 0 auto;
  }
}

@media screen and (max-width: 1000px) {
  :root {
    font-size: 14px;
  }
  section.hero-section {
    background-image: none;
    height: fit-content;
    row-gap: 48px;
    margin-top: 48px;
  }

  .img {
    display: block;
  }
  .img-mobile {
    display: none;
  }
}

@media screen and (max-width: 730px) {
  :root {
    font-size: 12px;
  }
  .lhs p {
    font-size: 14px;
  }
  section.hero-section {
    flex-direction: column;
  }
  .dummy {
    display: none;
  }
  .img {
    display: none;
  }
  .img-mobile {
    display: block;
  }
  .charges-and-contacts {
    padding: 48px 0;
    width: 100%;
    max-width: 400px;
  }
  footer {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 500px) {
  .body {
    padding: 48px 16px;
  }
  .rhs {
    scale: 90%;
  }

  .charges table td {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .img-mobile {
    margin: 0;
  }
  section.driver {
    flex-direction: column;
    align-items: center;
    padding: 16px;
  }
}

@media screen and (max-width: 300px) {
  .rhs {
    scale: 80%;
  }
  table {
    width: 100%;
  }
}
